<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <!--  Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Icon -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!--  Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="./css/styte.css">
    <link href="./vendor/css/mdb.min.css" rel="stylesheet">
    <link href="./vendor/css/style.min.css" rel="stylesheet">
</head>

<body ng-app="myapp">
    <div class="container" ng-controller="myctrl">
        <header class="row">
            <img src="./images/banner.png" width="100%" alt="banner">
        </header>

        <nav class="row navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">FPT Polytechnic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav col-sm-10">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Giới thiệu
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Liên hệ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Góp ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hỏi đáp</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown float-right col-sm-12">
                        <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                            <i class="fas fa-user"></i> Tài khoản
                        </a>

                        <div class="modal fade" id="loginModal" ng-controller="loginCtrl">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Đăng nhập</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="loginForm">
                                            <br>
                                            <div class="form-group">
                                                <label>Tài khoản</label>
                                                <input type="text" name="username" ng-model="username"
                                                    class="form-control" placeholder="Tài khoản" required>
                                                <em class="text-danger"
                                                    ng-show="loginForm.username.$touched && loginForm.username.$invalid">
                                                    <small>Không được để trống tên tài khoản</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <label>Mật khẩu</label>
                                                <input type="password" name="password" ng-model="password"
                                                    class="form-control" placeholder="Mật khẩu" required>
                                                <em class="text-danger"
                                                    ng-show="loginForm.password.$touched && loginForm.password.$invalid">
                                                    <small>Không được để trống mật khẩu</small>
                                                </em>
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <div class="col-sm-12">
                                                    <div>
                                                        <button type="submit" class="btn btn-outline-primary btn-block"
                                                            ng-disabled="!loginForm.$valid" ng-click="checkLogin()">
                                                            Đăng nhập
                                                        </button><br>
                                                        <button type="button" class="btn btn-danger btn-block"
                                                            data-dismiss="modal">
                                                            Đóng
                                                        </button><br>
                                                        <button type="button" class="btn btn-light btn-block"
                                                            data-dismiss="modal" data-toggle="modal"
                                                            data-target="#changeModal">
                                                            Quên mật khẩu?
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <hr>
                                            </div>
                                            <div class="col-sm-2 text-center">
                                                <span>Hoặc</span>
                                            </div>
                                            <div class="col-sm-5">
                                                <hr>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="button" class="btn btn-outline-info btn-block"
                                                data-toggle="modal" data-target="#registerModal" data-dismiss="modal">
                                                Tạo tài khoản
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="registerModal" ng-controller="registerCtrl">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Đăng Ký</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="registerForm">
                                            <br>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="username"
                                                    ng-model="username" placeholder="Tài khoản" required>
                                                <em class="text-danger"
                                                    ng-show="registerForm.username.$touched && registerForm.username.$invalid">
                                                    <small>Không được để trống tên tài khoản</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="password"
                                                    ng-model="password" placeholder="Mật khẩu" required>
                                                <em class="text-danger"
                                                    ng-show="registerForm.password.$touched && registerForm.password.$invalid">
                                                    <small>Không được để trống mật khẩu</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="confirmPassword"
                                                    ng-model="confirmPassword" placeholder="Xác nhận mật khẩu" required>
                                                <em class="text-danger"
                                                    ng-show="registerForm.confirmPassword.$touched && registerForm.confirmPassword.$invalid">
                                                    <small>Không được để trống xác nhận mật khẩu</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="fullname"
                                                    ng-model="fullname" placeholder="Họ và tên" required>
                                                <em class="text-danger"
                                                    ng-show="registerForm.fullname.$touched && registerForm.fullname.$invalid">
                                                    <small>Không được để trống họ và tên</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" ng-model="email"
                                                    placeholder="Email" required>
                                                <em class="text-danger"
                                                    ng-show="registerForm.email.$touched && registerForm.email.$error.required">
                                                    <small>Không được để trống email</small>
                                                </em>
                                                <em class="text-danger"
                                                    ng-show="registerForm.email.$touched && registerForm.email.$error.email">
                                                    <small>Không đúng định dạng mail</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="gender" ng-model="gender" required>
                                                    <option value="">Giới tính</option>
                                                    <option value="male">Nam</option>
                                                    <option value="female">Nữ</option>
                                                </select>
                                                <em class="text-danger"
                                                    ng-show="registerForm.gender.$touched && registerForm.gender.$invalid">
                                                    <small>Không được để trống giới tính</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="date" class="form-control" name="birthday"
                                                    ng-model="birthday" placeholder="Ngày sinh" required>
                                                <em class="text-danger"
                                                    ng-show="registerForm.birthday.$touched && registerForm.birthday.$error.required">
                                                    <small>Không được để trống ngày sinh</small>
                                                </em>
                                                <em class="text-danger"
                                                    ng-show="registerForm.birthday.$touched && registerForm.birthday.$error.date">
                                                    <small>Không đúng định dạng ngày MM/dd/yyyy</small>
                                                </em>
                                            </div><br>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-outline-info btn-block"
                                                    ng-disabled="!registerForm.$valid">
                                                    Tạo tài khoản
                                                </button>
                                                <button type="button" class="btn btn-light btn-block"
                                                    data-dismiss="modal" data-toggle="modal" data-target="#loginModal">
                                                    Đăng nhập
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="changeModal" ng-controller="changeCtrl">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Thay đổi mật khẩu</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="changeForm">
                                            <br>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Tài khoản">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="password"
                                                    ng-model="password" placeholder="Mật khẩu" required>
                                                <em class="text-danger"
                                                    ng-show="changeForm.password.$touched && changeForm.password.$invalid">
                                                    <small>Không được để trống mật khẩu</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="newPassword"
                                                    ng-model="newPassword" placeholder="Mật khẩu mới" required>
                                                <em class="text-danger"
                                                    ng-show="changeForm.newPassword.$touched && changeForm.newPassword.$invalid">
                                                    <small>Không được để trống mật khẩu mới</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="confirmNewPassword"
                                                    ng-model="confirmNewPassword" placeholder="Xác nhận mật khẩu mới"
                                                    required>
                                                <em class="text-danger"
                                                    ng-show="changeForm.confirmNewPassword.$touched && changeForm.confirmNewPassword.$invalid">
                                                    <small>Không được để trống xác nhận mật khẩu mới</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-outline-warning btn-block"
                                                    ng-disabled="!changeForm.$valid">
                                                    Đổi mật khẩu
                                                </button>
                                                <button type="button" class="btn btn-light btn-block"
                                                    data-dismiss="modal" data-toggle="modal" data-target="#loginModal">
                                                    Đăng nhập
                                                </button>
                                                <button type="submit" class="btn btn-outline-info btn-block"
                                                    data-dismiss="modal" data-toggle="modal"
                                                    data-target="#registerModal">
                                                    Tạo tài khoản
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="forgotModal" ng-controller="changeCtrl">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Quên mật khẩu</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="forgotForm">
                                            <br>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="username"
                                                    ng-model="username" placeholder="Tài khoản" required>
                                                <em class="text-danger"
                                                    ng-show="forgotForm.username.$touched && forgotForm.username.$error.required">
                                                    <small>Không được để trống tài khoản</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" ng-model="email"
                                                    placeholder="Email" required>
                                                <em class="text-danger"
                                                    ng-show="forgotForm.email.$touched && forgotForm.email.$error.required">
                                                    <small>Không được để trống email</small>
                                                </em>
                                                <em class="text-danger"
                                                    ng-show="forgotForm.email.$touched && forgotForm.email.$error.email">
                                                    <small>Không đúng định dạng mail</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-outline-danger btn-block"
                                                    ng-disabled="!forgotForm.$valid">
                                                    Lấy mật khẩu
                                                </button>
                                                <button type="button" class="btn btn-light btn-block"
                                                    data-dismiss="modal" data-toggle="modal" data-target="#loginModal">
                                                    Đăng nhập
                                                </button>
                                                <button type="submit" class="btn btn-outline-info btn-block"
                                                    data-dismiss="modal" data-toggle="modal"
                                                    data-target="#registerModal">
                                                    Tạo tài khoản
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="updateModal" ng-controller="updateCtrl">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Cập nhật thông tin</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form name="updateForm">
                                            <br>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="username"
                                                    ng-model="username" placeholder="Tài khoản" required>
                                                <em class="text-danger"
                                                    ng-show="updateForm.username.$touched && updateForm.username.$error.required">
                                                    <small>Không được để trống tài khoản</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="fullname"
                                                    ng-model="fullname" placeholder="Họ và tên" required>
                                                <em class="text-danger"
                                                    ng-show="updateForm.fullname.$touched && updateForm.fullname.$error.required">
                                                    <small>Không được để trống họ và tên</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" ng-model="email"
                                                    placeholder="Email" required>
                                                <em class="text-danger"
                                                    ng-show="updateForm.email.$touched && updateForm.email.$error.required">
                                                    <small>Không được để trống email</small>
                                                </em>
                                                <em class="text-danger"
                                                    ng-show="updateForm.email.$touched && updateForm.email.$error.email">
                                                    <small>Không đúng định dạng mail</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <select class="form-control" name="gender" ng-model="gender" required>
                                                    <option value="">Giới tính</option>
                                                    <option value="male">Nam</option>
                                                    <option value="female">Nữ</option>
                                                </select>
                                                <em class="text-danger"
                                                    ng-show="updateForm.gender.$touched && updateForm.gender.$error.required">
                                                    <small>Không được để trống giới tính</small>
                                                </em>
                                            </div>
                                            <div class="form-group">
                                                <input type="date" class="form-control" name="birthday"
                                                    ng-model="birthday" placeholder="Ngày sinh" required>
                                                <em class="text-danger"
                                                    ng-show="updateForm.birthday.$touched && updateForm.birthday.$error.required">
                                                    <small>Không được để trống ngày sinh</small>
                                                </em>
                                                <em class="text-danger"
                                                    ng-show="updateForm.birthday.$touched && updateForm.birthday.$error.date">
                                                    <small>Không đúng định dạng ngày MM/dd/yyyy</small>
                                                </em>
                                            </div><br>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-outline-info btn-block"
                                                    ng-disabled="!updateForm.$valid">
                                                    Cập nhật thông tin
                                                </button>
                                                <button type="button" class="btn btn-light btn-block"
                                                    data-dismiss="modal" data-toggle="modal" data-target="#changeModal">
                                                    Đổi mật khẩu
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown-menu">
                            <a type="button" class="dropdown-item" data-toggle="modal" data-target="#registerModal">
                                Đăng ký
                            </a>
                            <a type="button" class="dropdown-item" data-toggle="modal" data-target="#loginModal">
                                Đăng nhập
                            </a>
                            <a type="button" class="dropdown-item" data-toggle="modal" data-target="#forgotModal">
                                Quên mật khẩu
                            </a>
                            <hr>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                            <a type="button" class="dropdown-item" data-toggle="modal" data-target="#changeModal">
                                Đổi mật khẩu
                            </a>
                            <a type="button" class="dropdown-item" data-toggle="modal" data-target="#updateModal">
                                Cập nhật tài khoản
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row">
            <article class="col-sm-9">

            </article>

            <aside class="col-sm-3">
                <div class="card">
                    <div class="card-header">
                        <i class="fas fa-list-ul"></i> <strong>Danh mục</strong>
                    </div>
                    <div class="card-body">
                        <div class="list-group">
                            <a href="#" class="list-group-item">Kiểm thử và triển khai dự án</a>
                            <a href="#" class="list-group-item">SQL Server</a>
                            <a href="#" class="list-group-item">Điện toán đám mây</a>
                            <a href="#" class="list-group-item">Lập trình PHP</a>
                            <a href="#" class="list-group-item">Lập trình Android cơ bản</a>
                            <a href="#" class="list-group-item">Lập trình Android nâng cao</a>
                            <a href="#" class="list-group-item">Thiết kế layout</a>
                            <a href="#" class="list-group-item">Thiếu kế giao diện Android</a>
                            <a href="#" class="list-group-item">Quản lý dự án với Agile</a>
                            <a href="#" class="list-group-item">Internet marketing</a>
                            <a href="#" class="list-group-item">Lập trình hướng đối tượng Java</a>
                            <a href="#" class="list-group-item">Lập trình ASP.NET</a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>

        <footer class="row">
            <div class="text-center col-sm-12">
                <br><br><br><br>
                <p>FPT Polytechnic &copy; 2020. All rights reserved.</p>
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="./vendor/js/mdb.min.js"></script>

    <!-- js -->
    <script src="./js/main-ng.js"></script>
</body>

</html>