<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bài 02</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="myapp">
    <br>
    <div class="container">
        <div ng-controller="myctrl1">
            <form>
                <div class="form-group">
                    <label>Họ và tên</label>
                    <input type="text" ng-model="student.fullname" class="form-control">
                </div>
                <div class="form-group">
                    <label>Ngày sinh</label>
                    <input type="text" ng-model="student.birthday" class="form-control">
                </div>
                <div class="form-group">
                    <label>Điểm</label>
                    <input type="number" ng-model="student.mark" class="form-control">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="save()">Lưu</button>
                    <button class="btn btn-warning" ng-click="cancel()">Hủy</button>
                </div>
            </form>
        </div>

        <div ng-controller="myctrl2">
            <table class="table">
                <tr>
                    <th>Họ và tên</th>
                    <th>Ngày sinh</th>
                    <th>Điểm</th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ student[0].fullname }}</td>
                    <td>{{ student[0].birthday }}</td>
                    <td>{{ student[0].mark }}</td>
                    <td><a href="#" ng-click="edit(0)">Sửa</a></td>
                </tr>
                <tr>
                    <td>{{ student[1].fullname }}</td>
                    <td>{{ student[1].birthday }}</td>
                    <td>{{ student[1].mark }}</td>
                    <td><a href="#" ng-click="edit(1)">Sửa</a></td>
                </tr>
            </table>
        </div>

        <script>
            var app = angular.module("myapp", []);
            app.controller("myctrl1", function ($scope, $rootScope) {
                $scope.save = function () {
                    $rootScope.student[$rootScope.index] = $scope.student;
                }
                $scope.cancel = function () {
                    $rootScope.student = angular.copy($rootScope.student[$rootScope.index]);
                }
            });
            app.controller("myctrl2", function ($scope, $rootScope) {
                $rootScope.student = [
                    {
                        fullname: "Nguyễn Văn Tèo",
                        birthday: "20-01-1995",
                        mark: 8.5
                    },
                    {
                        fullname: "Phạm Thị Nở",
                        birthday: "11-11-1995",
                        mark: 5.5
                    }
                ];
                $scope.edit = function (index) {
                    $rootScope.index = index;
                    $rootScope.student = angular.copy($rootScope.student[$scope.$parent.index]);
                }
            });
        </script>
    </div>
</body>

</html>