<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bài 05</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <div class="container" ng-app="myapp">
        <div ng-controller="myctrl">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">DANH SÁCH HÀNG HÓA</h4>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>
                                <a href="#" ng-click="sortBy('name')">SẢN PHẨM</a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortBy('price')">ĐƠN GIÁ</a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortBy('discount')">GIẢM GIÁ</a>
                            </th>
                            <th>
                                <a href="#" ng-click="sortBy('date')">NGÀY</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in products | orderBy: prop | limitTo: 5 : begin">
                            <td>{{ product.name | uppercase}}</td>
                            <td>{{ product.price | currency}}</td>
                            <td>{{ product.discount | percentage}}</td>
                            <td>{{ product.date | date: "MMMM-dd, yyyy" }}</td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a href="#" class="page-link" ng-click="first()">
                            <i class="fas fa-fast-backward"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link" ng-click="prev()">
                            <i class="fas fa-backward"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link" ng-click="next()">
                            <i class="fas fa-forward"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="#" class="page-link" ng-click="last()">
                            <i class="fas fa-fast-forward"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        var app = angular.module("myapp", []);

        app.controller("myctrl", function ($scope, $http) {
            $scope.products = [];
            $http.get("js/prods2.js").then(function (response) {
                $scope.products = response.data;

                $scope.prop = "name";
                $scope.sortBy = function (prop) {
                    $scope.prop = prop;
                }

                $scope.begin = 0;
                $scope.page = Math.ceil($scope.products.length / 5);

                $scope.first = function () {
                    $scope.begin = 0;
                }
                $scope.prev = function () {
                    if ($scope.begin > 0) {
                        $scope.begin -= 5;
                    }
                }
                $scope.next = function () {
                    if ($scope.begin < (($scope.page - 1) * 5)) {
                        $scope.begin += 5;
                    }
                }
                $scope.last = function () {
                    $scope.begin = ($scope.page - 1) * 5;
                }
            })
        });

        app.filter("percentage", function ($filter) {
            return function (input, decimals) {
                return $filter("number")(input * 100, decimals) + "%";
            }
        })
    </script>
</body>

</html>