<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="text-center">
            <h3>Quên mật khẩu</h3>
        </div>
        <form name="forgotForm">
            <br>
            <div class="md-form">
                <input type="text" class="form-control" name="username" ng-model="username" required>
                <label>Tên tài khoản</label>
                <em class="text-danger" ng-show="forgotForm.username.$touched && forgotForm.username.$error.required">
                    <small>Không được để trống tài khoản</small>
                </em>
            </div>
            <div class="md-form">
                <input type="email" class="form-control" name="email" ng-model="email" required>
                <label>Email</label>
                <em class="text-danger" ng-show="forgotForm.email.$touched && forgotForm.email.$error.required">
                    <small>Không được để trống email</small>
                </em>
                <em class="text-danger" ng-show="forgotForm.email.$touched && forgotForm.email.$error.email">
                    <small>Không đúng định dạng mail</small>
                </em>
            </div>
            <div ng-if="message.length > 0">
                <div class="alert alert-{{ alert }} alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-danger btn-block" ng-click="getPassword()"
                    ng-disabled="!forgotForm.$valid">
                    Lấy mật khẩu
                </button>
                <a href="#!login" class="btn btn-light btn-block">
                    Đăng nhập
                </a>
                <a href="#!register" class="btn btn-outline-info btn-block">
                    Tạo tài khoản
                </a>
            </div>
        </form>
    </div>
</div>